gravity-sync.log
gravity-sync.cron
gravity-sync.conf
gravity-sync.md5
backup/*.last
backup/*.backup
backup/*.push
backup/*.pull
dev
.vscode
.DS_Store
.nova
logs/gravity-sync.log
logs/gravity-sync.cron
settings/gravity-sync.conf
logs/gravity-sync.md5