# REQUIRED SETTINGS ######################

# Primary Pi-hole host (in IP or DNS name)
REMOTE_HOST='192.168.1.10'

# User account on primary with SUDO rights
REMOTE_USER='pi'	

# OPTIONAL SETTING #######################

# Password for REMOTE_USER account
# Requires 'SSHPASS' installed on server
# (ex: sudo apt install sshpass)
# Less secure and possibly less reliable
# Leave blank to use (preferred) key-pair

REMOTE_PASS=''