# REQUIRED SETTINGS ######################

# Primary Pi-hole host (in IP or DNS name)
REMOTE_HOST='192.168.1.10'

# User account on primary with SUDO rights
REMOTE_USER='pi'	

# OPTIONAL SETTINGS ######################

# Password for REMOTE_USER account
# Requires 'SSHPASS' installed on server
# (ex: sudo apt install sshpass)
# Less secure and possibly less reliable
# Leave blank to use (preferred) key-pair

REMOTE_PASS=''

# ADVANCED SETTINGS ######################

# Uncomment and set for auxillary control
# Overrides gravity-sync.sh defaults
# See ADVANCED.md for more information

# SSH_PORT=''
# SSH_PKIF=''
# LOG_PATH=''
# SYNCING_LOG=''
# CRONJOB_LOG=''
# HISTORY_MD5=''

# VERIFY_PASS=''
# SKIP_CUSTOM=''
# DATE_OUTPUT=''
# PING_AVOID=''
# ROOT_CHECK_AVOID=''

# BACKUP_RETAIN=''