[Unit]
Description=Synchronize Pi-hole instances
RefuseManualStart=no
RefuseManualStop=no
Requires=gravity-sync.service

[Timer]
Unit=gravity-sync.service
OnUnitInactiveSec=2m
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target