# REQUIRED SETTINGS ######################

# Primary Pi-hole host (in IP or DNS name)
REMOTE_HOST='192.168.1.10'

# User account on primary with SUDO rights
REMOTE_USER='pi'

# STANDARD VARIABLES #########################

### Installation Types
# PH_IN_TYPE=''				# Pi-hole install type, `default`, `docker`, or `podman` (local)
# RH_IN_TYPE=''				# Pi-hole install type, `default`, `docker`, or `podman` (remote)

### Pi-hole Folder/File Customization
# PIHOLE_DIR='' 			# default Pi-hole data directory (local)
# RIHOLE_DIR=''				# default Pi-hole data directory (remote)
# DNSMAQ_DIR=''             # default DNSMASQ data directory (local)
# RNSMAQ_DIR=''             # default DNSMASQ data directory (remote)
# PIHOLE_BIN='' 			# default Pi-hole binary directory (local)
# RIHOLE_BIN='' 			# default Pi-hole binary directory (remote)
# DOCKER_BIN=''				# default Docker binary directory (local)
# ROCKER_BIN=''				# default Docker binary directory (remote)
# PODMAN_BIN=''             # default Podman binary directory (local)
# RODMAN_BIN=''             # default Podman binary directory (remote)
# FILE_OWNER=''				# default Pi-hole file owner and group (local)
# RILE_OWNER=''				# default Pi-hole file owner and group (remote)
# DOCKER_CON=''				# default Pi-hole container name (local)
# ROCKER_CON=''				# default Pi-hole container name (remote)
# CONTAIMAGE=''             # official Pi-hole container image

# GRAVITY_FI='' 			# default Pi-hole database file
# CUSTOM_DNS=''				# default Pi-hole local DNS lookups
# CNAME_CONF=''             # default DNSMASQ CNAME alias file
# GSLAN_CONF=''             # default DNSMASQ GS managed file

### Interaction Customization
# VERIFY_PASS=''			# replace in gravity-sync.conf to overwrite
# SKIP_CUSTOM=''			# replace in gravity-sync.conf to overwrite
# INCLUDE_CNAME=''			# replace in gravity-sync.conf to overwrite
# DATE_OUTPUT=''			# replace in gravity-sync.conf to overwrite
# PING_AVOID=''				# replace in gravity-sync.conf to overwrite
# ROOT_CHECK_AVOID=''		# replace in gravity-sync.conf to overwrite

### Backup Customization
# BACKUP_RETAIN=''			# replace in gravity-sync.conf to overwrite
# BACKUP_TIMEOUT=''			# replace in gravity-sync.conf to overwrite

### SSH Customization
# SSH_PORT='' 				# default SSH port
# SSH_PKIF=''				# default local SSH key

### GS Folder/File Locations
# CONFIG_FILE='' 			# must exist with primary host/user configured
# GS_FILENAME=''			# must exist because it's this script
# BACKUP_FOLD='' 			# must exist as subdirectory in LOCAL_FOLDR
# LOG_PATH=''				# replace in gravity-sync.conf to overwrite
# SYNCING_LOG='' 			# replace in gravity-sync.conf to overwrite
# CRONJOB_LOG='' 			# replace in gravity-sync.conf to overwrite
# HISTORY_MD5=''			# replace in gravity-sync.conf to overwrite

### OS Settings
# BASH_PATH=''				# default OS bash path