[Unit]
Description=Synchronize Pi-hole instances
After=network-online.target
Wants=gravity-sync.timer

[Service]
Type=simple
User=unknown
ExecStart=/path/to/gravity-sync.sh

[Install]
WantedBy=multi-user.target
