# REQUIRED SETTINGS ##########################

# Primary Pi-hole host (in IP or DNS name)
REMOTE_HOST='192.168.1.10'

# User account on primary with SUDO rights
REMOTE_USER='pi'

# CUSTOM VARIABLES ###########################

# Pi-hole Folder/File Customization - Only need to be customized when using containers
# LOCAL_PIHOLE_DIRECTORY='' 			    # Local Pi-hole data directory
# REMOTE_PIHOLE_DIRECTORY=''			    # Remote Pi-hole data directory
# LOCAL_DNSMASQ_DIRECTORY=''                # Local DNSMASQ/FTL data directory
# REMOTE_DNSMASQ_DIRECTORY=''               # Remote DNSMASQ/FTL data directory
# LOCAL_FILE_OWNER=''                       # Local file owner for Pi-hole
# REMOTE_FILE_OWNER=''                      # Remote file owner for Pi-hole

# Pi-hole Docker/Podman container name - Docker will pattern match anything set below
# LOCAL_DOCKER_CONTAINER=''				    # Local Pi-hole container name
# REMOTE_DOCKER_CONTAINER=''				# Remote Pi-hole container name

# HIDDEN FIGURES #############################
# See https://github.com/vmstan/gravity-sync/wiki/Hidden-Figures
