[Unit]
Description=Synchronize Pi-hole instances
Wants=gravity-sync.timer

[Service]
Type=simple
User=root
ExecStart=/root/gravity-sync/gravity-sync.sh

[Install]
WantedBy=multi-user.target