[Unit]
Description=Synchronize Pi-hole instances
RefuseManualStart=no
RefuseManualStop=no
Requires=gravity-sync.service

[Timer]
Unit=gravity-sync.service
Persistent=true
OnBootSec=120
OnUnitInactiveSec=7m
RandomizedDelaySec=3m

[Install]
WantedBy=timers.target
